<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
	<listener class-name="Santanu.TestComponent.Listeners"></listener>
</listeners>
<!-- thread-count="5" means maximum 5 methods run parallely at a time -->
  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="Santanu.SeleniumFrameWorkDesign.tests.SubmitOrder"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="Santanu.SeleniumFrameWorkDesign.tests.ErrorValidation"/>
    </classes>
  </test>
</suite> <!-- Suite -->
